<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content},~{::title},~{::script})}">

<head>
	<title data-th-text="${loggedInUser.name}+' |  Dashboard'">
		Profile Page
	</title>
</head>

<body>
	<div id="content">
		<!-- sidebar -->

		<!-- user is logged in : sidebar -->

		<div th:if="${loggedInUser}">
			<div data-th-replace="~{user/sidebar :: sidebar}"></div>
		</div>

		<div class="sm:pl-64  pt-20" style="height: 100px">
			<div class="flex justify-center flex-col items-center p-8">
				<h2 class="text-4xl font-bold mb-4">Welcome to Innovative Contact Organizer</h2>
				<p class="text-lg mb-8">Manage all your contacts effortlessly and securely in one place.</p>
				<p class="text-sm font-bold">Developed by <a href="https://www.linkedin.com/in/manpreet-singh-a947a6230/" class="text-blue-800 underline">MANPREET SINGH</a></p>
			</div>
		</div>
	</div>

	<script>
		console.log("this is profile page");
	</script>
</body>

</html>